{% extends "base.html.twig" %}

{% block body %}
    {% for group in groups %}
        <p><a href="{{ path ('mailbox_groups_groupmembers', {'id': group.id}) }}">{{ group.name }}</a></p>
    {% endfor %}
{% endblock %}